.list-item {
  border: 1px solid #b5b7c4;
  border-radius: 6px;
  padding: 12px;
  width: 250px;
  margin-bottom: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #171f46;
  margin-top: 0px;
}

.star-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.star {
  height: 16px;
}

.date {
  font-family: 'Roboto';
  font-size: 14px;
  color: #b5b7c4;
  margin-bottom: 0px;
  margin-top: 0px;
}
